.message-container {
  display: flex;
  margin-bottom: 24px;
}

.msg-content__author {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

.msg-content__date {
  color: #c5c5c5;
  font-size: 12px;
  font-weight: normal;
  margin-left: 8px;
}

.msg-content__texts p {
  font-size: 14px;
  margin-bottom: 4px;
}

.messages-container {
  max-height: 80vh;
  overflow-y: auto;
}

.message-type img {
  max-width: 80%;
}
