.im-container {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  height: 40px;
}

.elements {
  display: flex;
  justify-content: space-between;
  padding: 11px 15px;
}

.elements__input {
  border: none;
  color: #c5c5c5;
  font-size: 14px;
  flex-grow: 1;
  outline: none;
}

.elements__btn {
  background-color: white;
  border: none;
  color: #c5c5c5;
  font-size: 14px;
}
