.im-container {
  border: 1px solid var(--grey-border);
  border-radius: 8px;
  height: 40px;
}

.elements {
  display: flex;
  justify-content: space-between;
  padding: 11px 15px;
}

.elements__input {
  border: none;
  color: var(--grey-message);
  font-size: 14px;
  flex-grow: 1;
  outline: none;
}

.elements__input::placeholder {
  color: var(--grey-message);
}

.elements__btn {
  background-color: white;
  border: none;
  color: var(--grey-message);
  font-size: 14px;
}

.typers {
  color: var(--grey-typing);
  font-size: 12px;
  margin-top: 8px;
}
